.hand-example {
  width: 80%;
  left: 10%;
  margin-top: 4vh;
  margin-bottom: 5vh;
}

.about-text p {
  font-size: 1.5rem;
  margin-right: 2vw;
  margin-left: 2vw;
  text-align: left;
  text-indent: 1em;
}

h2 {
  font-style: italic;
  font-weight: bold;
}
