.user-hand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.user-buttons {
  display: flex;
  justify-content: center;
}

.user-button {
  margin-left: 2vw;
  margin-right: 2vw;
}
